@font-face {
  font-family: "Aboro";
  /* You can choose any name for your font */
  src: url("../Fonts/Aboro.ttf") format("truetype");

  /* src: url('../fonts//Asap-Medium.otf') format('otf'); */
  /* Add more src lines for different font formats if available */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.home-bg {
  background-image: url("../Images/BACKGROUND-IMAGE.jpg");
  background-size: cover;
}

/* Page.css (for all pages) */
h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.home-title {
  width: 100%;
  margin-top: 60px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Aboro";
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  line-height: 77px;
  /* identical to box height */
  letter-spacing: 0.11em;

  background: linear-gradient(
    341.12deg,
    #868686 12.62%,
    #b3b3b3 30.19%,
    #fdfdfd 51.12%,
    #fdfdfd 60.84%,
    #9d9ea2 75.04%,
    #5e5e5e 81.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.home-title-2 {
  /* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna */

  width: 600px;
  margin-top: 20px;
  text-align: center;
  height: 59px;
  left: 576px;
  top: 295px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.subTitle-2 {
  /* One Product, Endless Business Opportunities */

  width: 864.54px;
  left: 520px;
  top: 2209px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 139%;
  /* or 69px */
  text-align: center;
  letter-spacing: 0.02em;

  background: linear-gradient(
    89.99deg,
    #ffffff 0.01%,
    #8e8e8e 17.01%,
    #ffffff 41.5%,
    #9a9999 53.5%,
    #d2d2d2 65%,
    #898888 78.49%,
    #ffffff 99.99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subTitle-3 {
  /* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna */

  width: 784.83px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.home-btn {
  /* Button */

  width: 201.32px;
  height: 59.27px;

  background: linear-gradient(
    90deg,
    #ed4292 6.5%,
    #d121ca 33.5%,
    #ab00ff 60%,
    #00afcb 87.5%
  );
  border-radius: 50px;
}

.home-btn > span {
  /* Log In */

  width: 155.33px;
  height: 26.57px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.home-feature {
  /* background-image: url("../Images/net-wave.png"); */
  /* features */

  /* Note: backdrop-filter has minimal browser support */
}

.home-main {
  max-width: 1200px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.home-feature-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Rectangle 22672 */
}

.home-feature-cards_item {
  display: flex;
  padding: 1rem;
}

.home-feature-card {
  width: 222px;
  height: 222px;

  background: linear-gradient(
    180deg,
    rgba(71, 114, 154, 0.12) 0%,
    rgba(183, 220, 255, 0.26) 100%
  );
  border-radius: 52px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-feature-card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%); */
}

.home-feature-card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.home-feature-card_text {
  margin-bottom: 1.25rem;
  /* Lorem ipsum Lorem ipsum */

  height: 66px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  text-align: center;

  color: rgba(255, 255, 255, 0.4);
}
/* Add specific styling for each page as needed */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
  --bg: #000;
  --white: #000;
  --accent: #000;
  --highlight: #03dac6;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif !important;
  background: #141415 !important;
  color: white !important;
  overflow-x: hidden;
}
.home-section {
  width: 100%;
  min-height: 100vh;
}
.hero,
.footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
  font-size: clamp(4rem, 4vw, 8rem);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  /* background: url("../Images/AI-Background.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.hero-title {
  font-size: 77px;
  width: 480px;
  text-align: center;
}

.hero h1,
.footer h1 {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: rgb(0, 0, 0);
  text-stroke: 2px #fff;
  text-shadow: none;
  text-align: center;
  margin-top: 182px;
  filter: drop-shadow(10px 8px 8px black);
}
.hero .scroll-line,
.footer .scroll-line {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 60px;
  background-color: var(--white);
}
.hero .hero-overlay,
.footer .hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: #000;
  opacity: 0.1;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2em;
  background: var(--bg);
}
.card {
  height: 400px;
  aspect-ratio: 2.5;
  display: flex;
  margin: 2em;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.1em;
  background: var(--accent);
  backdrop-filter: blur(5px);
  border-radius: 14px;
  transition: all 300ms ease-out;
  transition-property: transform opacity;
}
.card:nth-of-type(2n + 1) {
  align-self: flex-start;
}
.card:nth-of-type(2n) {
  align-self: flex-end;
}
.card > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px 0 0 14px;
}
.card__contents {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  overflow-y: scroll;
}
.card__contents > h2 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--white);
}
.card__contents > p {
  text-align: left;
  margin-top: 0.5em;
  white-space: pre-wrap;
}
.card__contents > button {
  border: none;
  width: 100%;
  color: var(--white);
  background: transparent;
  border: 1px solid currentcolor;
  border-radius: 1.4em;
  padding: 0.7em 0;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
}
.learn-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-btn.learn-more {
  width: 12rem;
  height: auto;
}

.learn-btn.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.learn-btn.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-btn.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-btn.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-btn.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #9ec8b9;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-btn:hover .circle {
  width: 100%;
}

.learn-btn:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-btn:hover .button-text {
  color: #fff;
}
.product-home-section {
  display: flex;
  width: 100%;
}

.product-home-div {
  margin: 120px 0px;
}

.product-img {
  height: 450px;
  width: 450px;
}
@media (max-width: 768px) {
  .bg-image-home {
    display: none;
  }

  .hero-title {
    width: 100%;
    padding: 120px 0px;
  }

  .hero {
    /* background: url("../Images/AI-Background.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .product-home-div {
    margin: 0px 0px 120px 0px;
  }
  .product-home-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .product-home-section > div {
    margin-left: 40px;
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .hero-title {
    width: 100%;
    padding: 0px 0px 120px 0px;
  }
  .product-img {
    height: 320px;
    width: 320px;
  }
}
